---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rte
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: rte
rules:
- apiGroups: ["topology.node.k8s.io"]
  resources: ["noderesourcetopologies"]
  verbs: ["create", "update", "get", "list"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get"]
- apiGroups: [""]
  resources: ["pods/status"]
  verbs: ["update"]
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: rte
subjects:
- kind: ServiceAccount
  name: rte
  namespace: default
roleRef:
  kind: ClusterRole
  name: rte
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: rte-config-extra
  namespace: default
data:
  config.yaml: |
    kubelet:
      topologyManagerPolicy: single-numa-node
      topologyManagerScope: container
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: rte-config-daemon
  namespace: default
data:
  config.yaml: |
    global:
      verbose: ${RTE_VERBOSE}
      debug: true
    resourceMonitor:
      exposeTiming: true
      refreshNodeResources: true
    topologyExporter:
      addNRTOwnerEnable: true
      podReadinessEnable: true
      metricsTLS:
        certsDir: /etc/secrets/rte
        wantCliAuth: true
---
apiVersion: v1
kind: Secret
metadata:
  name: secret-kube-rbac-proxy-metric
stringData:
  config.yaml: |-
    "authorization":
      "static":
      - "path": "/metrics"
        "resourceRequest": false
        "user":
          "name": "system:serviceaccount:openshift-monitoring:prometheus-k8s"
        "verb": "get"    
type: Opaque
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: resource-topology-exporter-ds
spec:
  selector:
      matchLabels:
        name: resource-topology
  template:
    metadata:
      labels:
        name: resource-topology
    spec:
      readinessGates:
        - conditionType: "PodresourcesFetched"
        - conditionType: "NodeTopologyUpdated"
      serviceAccountName: rte
      containers:
      - name: resource-topology-exporter-container
        image: ${RTE_CONTAINER_IMAGE}
        command:
        - /bin/resource-topology-exporter
        args:
          - --dump-config=.log
          - --sleep-interval=${RTE_POLL_INTERVAL}
          - --metrics-mode=${RTE_METRICS_MODE}
          - --metrics-want-cli-auth=${RTE_METRICS_CLI_AUTH}
          - --sysfs=/host-sys
          - --kubelet-config-file=/host-var/lib/kubelet/config.yaml
          - --podresources-socket=unix:///host-var/lib/kubelet/pod-resources/kubelet.sock
          - --notify-file=/host-run/rte/notify
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: REFERENCE_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: REFERENCE_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: REFERENCE_CONTAINER_NAME
          value: shared-pool-container
        - name: METRICS_PORT
          value: "${METRICS_PORT}"
        - name: METRICS_ADDRESS
          value: "${METRICS_ADDRESS}"
        volumeMounts:
          - name: host-sys
            mountPath: "/host-sys"
            readOnly: true
          - name: host-kubelet-state
            mountPath: "/host-var/lib/kubelet"
          - name: rte-config-daemon
            mountPath: "/etc/rte/daemon"
          - name: rte-config-extra
            mountPath: "/etc/rte/extra"
          - name: host-rte-notification
            mountPath: "/host-run/rte"
          - name: rte-tls
            mountPath: "/etc/secrets/rte/tls"
            readOnly: true
          - name: rte-ca
            mountPath: "/etc/secrets/rte/ca"
            readOnly: true
        ports:
          - name: metrics-port
            containerPort: ${METRICS_PORT}
      - name: kube-rbac-proxy
        image: gcr.io/kubebuilder/kube-rbac-proxy:v0.8.0
        args:
        - "--secure-listen-address=${METRICS_ADDRESS}:${METRICS_PORT}"
        - "--upstream=http://127.0.0.1:${METRICS_PORT}/"
        - "--config-file=/etc/kube-rbac-proxy/config.yaml"
        - "--tls-cert-file=/etc/secrets/rte/tls.crt"
        - "--tls-private-key-file=/etc/secrets/rte/tls.key"
        - "--client-ca-file=/etc/secrets/rte/ca/ca.crt"
        - "--allow-paths=/metrics"
        - "--logtostderr=true"
        - "-v=10"
        ports:
        - containerPort: ${METRICS_PORT}
          protocol: TCP
          name: https
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
        terminationMessagePolicy: FallbackToLogsOnError
        volumeMounts:
          - name: secret-kube-rbac-proxy-metric
            mountPath: "/etc/kube-rbac-proxy"
            readOnly: true
          - name: rte-tls
            mountPath: "/etc/secrets/rte/tls"
            readOnly: true
          - name: rte-ca
            mountPath: "/etc/secrets/rte/ca"
            readOnly: true
      - name: shared-pool-container
        image: gcr.io/google_containers/pause-amd64:3.0
      volumes:
      - name: host-sys
        hostPath:
          path: "/sys"
      - name: host-kubelet-state
        hostPath:
          path: "/var/lib/kubelet"
      - name: rte-config-daemon
        configMap:
          name: rte-config-daemon
      - name: rte-config-extra
        configMap:
          name: rte-config-extra
      - name: host-rte-notification
        hostPath:
          path: "/run/rte"
      - name: rte-tls
        secret:
          secretName: rte-tls-secret
          optional: true
      - name: rte-ca
        configMap:
          name: rte-tls-ca.crt
          optional: true
      # Secret containing the kube-rbac-proxy configuration (see below).
      - name: secret-kube-rbac-proxy-metric
        secret:
          secretName: secret-kube-rbac-proxy-metric
