name: CI Go

on:
  pull_request:
    branches:
      - 'main'

jobs:

  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3

    - name: set up golang
      uses: actions/setup-go@v3
      with:
        go-version: 1.20.7

    - name: format
      run: ./hack/check-format.sh

    - name: build
      run: make all

    - name: test
      run: make test-unit
