name: Release

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  release:
    runs-on: ubuntu-20.04
    env:
      RTE_CONTAINER_IMAGE: quay.io/k8stopologyawarewg/resource-topology-exporter
    steps:
    - name: checkout sources
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: setup golang
      uses: actions/setup-go@v2
      id: go
      with:
        go-version: 1.16

    - name: verify modules
      run: go mod verify

    - name: set release version env var
      run: |
        echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

    - name: build test binary
      run: |
        make build-e2e

    - name: build binaries
      run: |
        make binaries

    - name: build image
      id: build-image
      uses: redhat-actions/buildah-build@v2
      with:
        image: quay.io/k8stopologyawarewg/resource-topology-exporter
        tags: ${{ env.RELEASE_VERSION}}
        dockerfiles: |
          ./images/Dockerfile

    - name: generate manifests
      run: |
        mkdir _dist
        RTE_CONTAINER_IMAGE=${RTE_CONTAINER_IMAGE}:${{ env.RELEASE_VERSION }} RTE_POLL_INTERVAL=10s make gen-manifests | tee _dist/resource-topology-exporter-${{ env.RELEASE_VERSION }}.yaml

    - name: create K8S kind cluster
      run: |
        # kind is part of 20.04 image, see: https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md
        kind create cluster --config=hack/kind-config-e2e.yaml --image kindest/node:v1.21.1@sha256:69860bda5563ac81e3c0057d654b5253219618a22ec3a346306239bba8cfa1a6
        kind load docker-image ${RTE_CONTAINER_IMAGE}:${{ env.RELEASE_VERSION }}

    - name: deploy RTE
      run: |
        # TODO: what about the other workers (if any)?
        kubectl label node kind-worker node-role.kubernetes.io/worker=''
        kubectl create -f _dist/resource-topology-exporter-${{ env.RELEASE_VERSION }}.yaml

    - name: cluster info
      run: |
        kubectl get nodes
        kubectl get pods -A
        kubectl describe pod -l name=resource-topology || :
        kubectl logs -l name=resource-topology -c resource-topology-exporter-container || :

    - name: cluster ready
      run: |
        hack/check-ds.sh
        kubectl logs -l name=resource-topology -c resource-topology-exporter-container || :
        kubectl get noderesourcetopologies.topology.node.k8s.io -A -o yaml

    - name: run E2E tests
      run: |
        export KUBECONFIG=${HOME}/.kube/config 
        _out/rte-e2e.test -ginkgo.focus='\[(RTE|TopologyUpdater)\].*\[InfraConsuming\]'

    - name: compute signature
      run: |
        pushd _dist && sha256sum * >> ../SHA256SUMS && mv ../SHA256SUMS . && popd

    - name: upload build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: build-artifacts
        path: _dist/*

    - name: create release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "_dist/*"
        token: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token

    - name: push to quay
      id: push-to-quay
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build-image.outputs.image }}
        tags: ${{ steps.build-image.outputs.tags }}
        registry: quay.io/openshift-kni
        username: ${{ secrets.QUAY_IO_USERNAME }}
        password: ${{ secrets.QUAY_IO_ROBOTOKEN }}

    - name: print image url
      run: echo "Image pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"

    - name: export kind logs
      if: ${{ failure() }}
      run: |
        kind export logs /tmp/kind-logs

    - name: archive kind logs
      if: ${{ failure() }}
      uses: actions/upload-artifact@v2
      with:
        name: kind-logs
        path: /tmp/kind-logs
